@use 'friends-vars' as fv;
@use '../../user/profile-pic.scss';

.friends-list {
    height: 100% - fv.$menu-bar-height;

    & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 1.5vw;
        font-weight: normal;
    }

    .friend-plate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1%;
        padding: 1% 2% 1% 1%;
        width: 70%;
        height: 10%;
        transition: background-color 0.2s ease-out;

        &:hover {
            cursor: pointer;
            background: hsl(0, 4%, 43%);
        }

        .friend-info {
            display: flex;
            align-items: center;
            width: 80%;

            @include profile-pic.profilePicMixin(4vw, 0.2vw, 2vw);

            h3 {
                font-size: 1.4vw;
                letter-spacing: 0.1vw;
                font-weight: normal;
                margin-left: 3%;
            }
        }

        .status {
            background: hsl(120, 54%, 54%);
            border-radius: 50%;
            width: 1.1vw;
            height: 1.1vw;
        }
    }

    .offline {
        opacity: 0.7;
    }

    .no-friends-disclosure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        opacity: 0.4;
    }
}
