@use 'friends-vars' as fv;

.friends-list {
    height: 100% - fv.$menu-bar-height;

    & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    h2 {
        font-size: 1.5vw;
        font-weight: normal;
    }

    .friend-plate {
        display: flex;
        justify-content: space-between;
        font-size: 1.4vw;
        letter-spacing: 0.1vw;
        padding: 2%;
        margin: 1%;
        width: 70%;
        height: 10%;
        transition: background-color 0.2s ease-out;

        &:hover {
            cursor: pointer;
            background: hsl(0, 4%, 43%);
        }

        h3 {
            font-weight: normal;
        }

        .status {
            background: hsl(120, 54%, 54%);
            border-radius: 50%;
            width: 1.3vw;
            height: 1.3vw;
        }
    }

    .offline {
        color: hsla(0, 0%, 100%, 0.507);
    }

    .no-friends-disclosure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        opacity: 0.4;
    }
}
