@use '../../utils/utils.scss';

@keyframes backgroundPos {
    0% {
        background-position-x: -50%;
    }
    100% {
        background-position-x: 150%;
    }
}

.friend-request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 2%;
    margin: 1% 0;
    
    @include utils.boxShadow(0rem, 0rem, 0.1rem, hsl(0, 8%, 65%));

    h3 {
        width: 85%;
        word-break: break-word;
        font-weight: normal;
        font-size: 1.6vw;
        letter-spacing: 0.1vw;
    }

    .button-container {
        width: 15%;
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }

    button {
        border-radius: 50%;
        border: 0.1vw solid white;
        color: white;
        background: transparent;
        height: 3vw;
        width: 3vw;
        font-size: 1.5vw;
        transition: background-color 0.2s ease-out;
    }

    .approve:hover {
        cursor: pointer;
        background: rgb(84, 224, 84);
    }

    .cancel:hover {
        cursor: pointer;
        background: red;
    }

    button:last-child {
        margin: 0 0 0 15%
    }
}

.pending-subwindow {
    .incoming {
        background: linear-gradient(135deg, hsl(0, 12%, 30%), hsl(115, 80%, 32%), hsl(0, 12%, 30%));
        background-size: 200% 100%;
        animation: backgroundPos 7s linear infinite;
    }

    .outgoing {
        background: linear-gradient(135deg, hsl(0, 12%, 30%), hsl(209, 57%, 50%), hsl(0, 12%, 30%));
        background-size: 200% 100%;
        animation: backgroundPos 7s linear infinite;
    }
}