.pending-subwindow {
    width: 100%;

    .subsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}