@use 'friends-vars' as fv;

.pending-subwindow {
    width: 100%;
    height: 100% - fv.$menu-bar-height;

    .subsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .no-pending-requests {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        opacity: 0.4;
    }
}