@use 'friend-request';
@use 'pending-subwindow';
@use 'friends-list';
@use 'add-friend';

.friends-window {
    background: hsl(0, 7%, 29%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2%;

    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.friends-menu-bar {
    display: flex;
    align-items: flex-start;
    height: 5%;
    
    .button-container {
        display: flex;
        align-items: center;
        position: relative;

        .notification-attachment {
            bottom: -40%;
            right: -20%;
            width: 1.5vw;
            height: 1.5vw;
            font-size: 1.2vw;
        }
    }

    button {
        border: none;
        background: inherit;
        color: hsl(81, 81%, 96%);
        font-weight: bold;
        font-size: 1.3vw;
        padding: 0 3% 2% 0%;
        transition: color 0.2s ease-out;

        &:hover {
            cursor: pointer;
            color: hsl(51, 100%, 66%);
        }
    }
}