@mixin profilePicMixin($size, $border-width, $font-size) {
    .profile-pic {
        width: $size;
        height: $size;
        position: relative;

        .image-container {
            width: 100%;
            height: 100%;
            border: $border-width solid white;
            border-radius: 50%;
            overflow: hidden;
        }

        .image {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            object-fit: cover; 

            span {
                transform: translateY(-$border-width);
                font-size: $font-size;
            }
        }
    }
}