@use 'ripcord-svg';
@use 'home-vars' as hv;

.home-screen {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, hsl(240, 22%, 12%) 85%, hsl(240, 22%, 50%));
}

.home-screen-main {
    @mixin showUpAnimation {
        animation: showUp 2s 3.4 * hv.$ripcord-anim-dur linear forwards,
            expand 2s 3.4 * hv.$ripcord-anim-dur + 2 linear infinite alternate;
    }

    height: 90%;

    h2 {
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        font-weight: normal;
        font-size: 3vw;
        opacity: 0;
        @include showUpAnimation;
    }

    h3 {
        text-align: center;
        margin-top: 2%;
        font-weight: normal;
        font-size: 2vw;
        opacity: 0;
        @include showUpAnimation;
    }

    @keyframes expand {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.98);
        }
    }

    @keyframes showUp {
        0% {
            opacity: 0;
            transform: scale(0.9);
        }
        60% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}