.notification {
    width: 50%;
}

.notifications-container {
    .info {
        background: blue;
    }

    .success {
        background: green;
    }

    .error {
        background: red;
    }
}

