@font-face {
    font-family: 'Rajdhani';
    src: url('http://localhost:8000/static/fonts/Rajdhani/Rajdhani-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('http://localhost:8000/static/fonts/Rajdhani/Rajdhani-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('http://localhost:8000/static/fonts/Rajdhani/Rajdhani-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('http://localhost:8000/static/fonts/Rajdhani/Rajdhani-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('http://localhost:8000/static/fonts/Rajdhani/Rajdhani-Bold.ttf');
    font-weight: 700;
}