@use './fonts.scss';
@use './navbar/navbar.scss';
@use './user-forms.scss';
@use './notifications/notifications.scss';
@use './chat/chat-app.scss';
@use './home/home.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    color: white;
    font-family: sans-serif;
}

body, #root, .app-container, main {
    height: 100%;
}