@use './navbar/navbar.scss';
@use './user-forms.scss';
@use './notifications/notifications-container.scss';
@use './chat/chat-app.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background: linear-gradient(135deg, rgb(61, 75, 144), rgb(97, 101, 151));
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
}