@use './navbar/navbar.scss';
@use './user-forms.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(135deg, rgb(79, 97, 182) 90%, white);
    background-repeat: no-repeat;
    color: white;
}