.user-form-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 80%;
    padding: 2%;
    background-color: hsl(240, 19%, 11%);;

    label {
        font-size: 1.5vw;
    }

    input[type=text], input[type=password] {
        width: 100%;
        height: 90%;
        font-size: 1.5vw;
        margin-top: 2%;
    }

    input[type=submit] {
        background: none;
        border: none;
        color: white;
        font-weight: bolder;
        font-size: 1.5vw;

        &:hover {
            cursor: pointer;
        }
    }
}