@use '../svgs//logo-svg.scss';

.logo-container {
    width: 20%;
    margin: 0 1%;

    a {
        color: white;
        text-decoration: none;
        display: block;
        width: 25%;
    }

    @include logo-svg.logoSvg(100%);
}