.nav-links-container {
    width: 15%;

    a {
        text-decoration: none;
        color: rgb(253, 223, 223);
    }
}

.default-links-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 2vw;
    width: 100%;
}

.logged-links-container {
    $color: white;
    $background-color: hsl(240, 55%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: $color;

    button {
        color: inherit;
        font-size: inherit;
        background: $background-color;
        border-radius: 10rem;
        padding: 2% 6%;
    }

    button:hover {
        cursor: pointer;
        background: $color;
        color: $background-color;
    }
}