.nav-links-container {
    $button-bg: hsl(240, 55%, 10%);
    $button-text-color: white;
    width: 20%;

    a {
        text-decoration: none;
        color: rgb(253, 223, 223);
    }

    .default-links-container {
        display: flex;
        font-size: 1.5vw;
        width: 100%;
        justify-content: flex-end;
    }

    .link-button {
        color: $button-text-color;
        font-size: inherit;
        background: $button-bg;
        border-radius: 10rem;
        padding: 2% 6%;
        
        &:last-child {
            margin-left: 3%;
        }
    }

    .link-button:hover {
        cursor: pointer;
        background: $button-text-color;
        color: $button-bg;
    }
}

