@use 'chat-vars' as v;
@use '../user/profile-pic.scss';

.active-channels {
    background-color: hsl(220, 14%, 22%);
    height: v.$chat-menu-active-channels-height; 
    overflow: scroll;
    scrollbar-width: thin;

    h3 {
        text-align: center;
        margin-bottom: 4%;
        font-size: 1.2vw;
    }
}

.active-channel-plate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    width: 100%;
    font-size: 1.5vw;
    transition: background-color 0.1s ease-out;
    position: relative;

    &:hover {
        cursor: pointer;
        background: hsl(240, 14%, 44%);
    }

    .recipient-info {
        display: flex;
        align-items: center;
        width: 80%;
    }

    @include profile-pic.profilePicMixin(3vw, 0.2vw, 1.5vw);

    h4 {
        font-weight: normal;
        margin-left: 6%;
    }

    button {
        background: inherit;
        font-size: 1.5vw;
        color: white;
        opacity: 0.7;
        padding: 2% 4%;
        border: 0.2vw solid transparent;
        text-align: center;

        &:hover {
            cursor: pointer;
            background: hsl(240, 27%, 46%);
            border-color: red;
        }
    }

    .notification-attachment {
        left: 0;
        bottom: 10%;
        height: 1.5vw;
        width: 1.5vw;
        font-size: 1.2vw;
    }
}