@use 'chat-vars' as v;

.active-channels {
    background-color: hsl(220, 14%, 22%);
    height: v.$chat-menu-active-channels-height; 

    h3 {
        text-align: center;
        margin-bottom: 4%;
    }
}

.active-channel-plate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6%;
    width: 100%;
    font-size: 1.5vw;
    transition: background-color 0.1s ease-out;

    &:hover {
        cursor: pointer;
        background: hsl(240, 14%, 44%);
    }

    h4 {
        font-weight: normal;
    }

    button {
        background: inherit;
        border: none;
        font-size: 1.5vw;
        color: white;
        opacity: 0.7;
        padding: 2% 4%;
        border: 0.2vw solid transparent;

        &:hover {
            cursor: pointer;
            background: hsl(240, 27%, 46%);
            border-color: red;
        }
    }
}