.message {
    $content-width: 86%;
    padding: 0.1% 1%;
    font-size: 1.5vw;
    position: relative;

    &:hover {
        .date {
            display: flex;
        }
    }

    &.pending {
        color: hsla(0, 0%, 100%, 0.603);
    }

    &.failed {
        color: hsl(0, 98%, 49%);
    }

    &.system-message {
        h4 {
            color: hsl(240, 55%, 77%);
            letter-spacing: 0.1vw;
        }

        p {
            // color:hsl(240, 78%, 82%);
            color: hsl(0, 96%, 52%);
            letter-spacing: 0.1vw;
        }
    }

    h4 {
        color: rgb(3, 228, 3);
        height: 20%;
        width: $content-width;
    }
    
    p {
        padding: 0.5% 1% 0.5% 3%;
        width: $content-width;
        word-break: break-word;
    }

    .date {
        width: 14%;
        padding-right: 1%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.2vw;
        display: none;
        align-items: center;
        justify-content: flex-end;
        opacity: 0.7;
    }
}