.message {
    padding: 0.1% 1%;
    font-size: 1.5vw;
    position: relative;

    &:hover {
        .date {
            display: flex;
        }
    }

    &.pending {
        color: hsla(0, 0%, 100%, 0.603);
    }

    &.failed {
        color: hsl(0, 98%, 49%);
    }

    h4 {
        color: rgb(3, 228, 3);
        height: 20%;
        // border-bottom: 0.1vw solid hsla(0, 0%, 100%, 0.781);;
    }
    
    p {
        padding: 0.5% 1% 0.5% 3%;
        width: 86%;
        word-break: break-word;
    }

    .date {
        width: 14%;
        padding-right: 1%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.2vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        opacity: 0.7;
    }
}