@use 'chat-vars' as v;
@use '../user/profile-pic.scss';

.chat-menu {
    width: 18%;
    height: 100%;
    background: linear-gradient(45deg, hsl(236, 44%, 13%), hsl(244, 46%, 21%));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-menu-buttons-container {
    display: flex;
    flex-direction: column;
    height: v.$chat-menu-buttons-height;

    .button-container {
        position: relative;
    }

    button {
        background: inherit;
        border: none;
        color: white;
        font-size: 1.4vw;
        padding: 4% 10%;
        width: 100%;
        text-align: left;
        letter-spacing: 0.1vw;

        &:hover {
            cursor: pointer;
            background: hsl(240, 58%, 64%);
        }
    }
}

.nameplate {
    $status-circle-size: 0.7vw;
    $border-width: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 8% 2% 4%;
    height: v.$chat-menu-nameplate-height;
    width: 100%;
    transform: translateY(-$border-width);

    * {
        box-sizing: content-box;
    }

    .name-container {
        margin-right: 10%;
        width: 95%;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    @include profile-pic.profilePicMixin(3.7vw, $border-width, 2vw);

    .status-circle {
        background-color: yellow;
        box-shadow: 2px 2px 5px yellow,
            -2px -2px 5px yellow,
            -2px 2px 5px yellow,
            2px -2px 5px yellow;
        border-radius: 50%;
        width: $status-circle-size;
        height: $status-circle-size;
    }
}