@use '../user//profile-pic.scss';

.chat-display {
    $monitor-bg: hsl(0, 1%, 21%);
    background: hsl(0, 8%, 30%);
    height: 100%;
    padding: 2%;

    .user-info {
        height: 10%;
        display: flex;

        @include profile-pic.profilePicMixin(3.7vw, 0.2vw, 2vw);
        
        .text-block {
            margin-left: 1%;
        }

        h2, h4 {
            font-weight: normal;
        }

        h2 {
            font-size: 2vw;
        }

        h4 {
            font-size: 1vw;
        }
    }

    .chat-monitor {
        height: 75%;
        background: hsl(0, 1%, 21%);
        border-radius: 1%;
        overflow: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .user-field {
        display: flex;
        height: 15%;
        margin-top: 1%;
        
        button {
            width: 10%;
            background: inherit;
            font-size: 1.3vw;
            font-weight: bold;
            border: none;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .user-input {
        background: $monitor-bg;
        width: 90%;
        padding: 1%;
        height: 100%;
        font-size: 1.5vw;
        word-break: break-word;
        overflow: scroll;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }

        &:focus {
            outline: none;
        }
    }
}

.no-conversations {
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 34%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: hsla(0, 0%, 73%, 0.685);
}