.chat-menu {
    width: 15%;
    height: 100%;
    background: linear-gradient(45deg, hsl(0, 11%, 32%), hsl(0, 4%, 37%));
}

.nameplate {
    display: flex;
    align-items: center;
    padding: 4%;
    font-size: 1.5vw;

    .name-container {
        margin-right: 10%;
    }

    .status-circle {
        background-color: yellow;
        box-shadow: 2px 2px 5px yellow,
            -2px -2px 5px yellow,
            -2px 2px 5px yellow,
            2px -2px 5px yellow;
        border-radius: 50%;
        width: 0.5vw;
        height: 0.5vw;
    }
}