.right-window {
    position: relative;
    width: 85%;
}
.friends-window {
    background: hsl(0, 7%, 29%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2%;
}