@use './friends-window/friends-window.scss';

.right-window {
    position: relative;
    width: 85%;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}