@use 'sass:map';

@mixin init($size, $font-size,
    $span-sizes: ('height': 95%, 'width': 80%)) {
    .answer-call-button {
        width: $size;
        height: $size;
        font-size: $font-size;

        span {
            width: map.get($span-sizes, 'width');
            height: map.get($span-sizes, 'height')l
        }
    }
}

.answer-call-button {
    background: green;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: hsl(120, 91%, 69%);
        cursor: pointer;
    }

    span {
        transform: rotateZ(20deg);
        display: block;
    }
}