@mixin init($size, $font-size) {
    .hang-up-button {
        width: $size;
        height: $size;
        font-size: $font-size;
    }
}

.hang-up-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: hsl(0, 79%, 34%);
    border: none;
    border-radius: 50%;
    transform: rotateZ(100deg);

    &:hover {
        cursor: pointer;
        background: hsl(0, 46%, 77%);
    }

    span {
        display: block;
        width: 80%;
        height: 80%;
    }
}