@use 'profile-window';

.user-menu {
    $background: hsl(239, 71%, 12%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $background;

    .menu-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 8%;
        box-sizing: content-box;
        
        button {
            font-weight: bold;
            font-size: 1.5vw;
            margin-right: 3%;
            border-radius: 50%;
            width: 3vw;
            height: 3vw;
            text-align: center;
            transition: transform 0.3s ease-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }

    .menu-content-container {
        display: flex;

        .buttons-column {
            width: 20%;

            button {
                font-size: 1.5vw;
                font-weight: bold;
                width: 100%;
                text-align: left;
                padding: 5% 5% 5% 7%;
                border: none;
                background: inherit;
                color: white;
                transition: transform 0.1s linear;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.02);
                    background: linear-gradient(to right, hsl(239, 27%, 49%), $background);
                }
            }
        }

        .right-container {
            width: 80%;
            height: 100%;
            padding: 0 2%;
        }
    }
}